/*---------------------------------------------------------------------------------
RESET
---------------------------------------------------------------------------------*/

@font-face {
  font-family: "Novecento";
  src: url("./public/fonts/NovecentoNormal.ttf") format("truetype"),
    url("./public/fonts/NovecentoNormal.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Novecento Bold";
  src: url("./public/fonts/NovecentoBold.ttf") format("truetype"),
    url("./public/fonts/NovecentoBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro Light";
  src: url("./public/fonts/SourceSansPro-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro Light Italic";
  src: url("./public/fonts/SourceSansPro-LightIt.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro Regular";
  src: url("./public/fonts/SourceSansPro-Regular.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro Bold";
  src: url("./public/fonts/SourceSansPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro Bold Italic";
  src: url("./public/fonts/SourceSansPro-BoldIt.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

/* ----------- Colors ----------- */
:root {
  --white0: #ffffff;
  --white1: #faf9f6;
  --black0: #000000;
  --black1: #121212;
  --black2: #1a1a1a;
  --grey0: #333333;
  --grey1: #636363;
  --grey2: #a6a6a6;
  --green0: #00ff00;
  --green1: #00b963;
  --red0: rgb(255, 0, 0);
  --red1: #ee1400;

  --greyJensone: #f8fafc;

  --warning: #ffae00e3;

  --body: #faf9f6;
  --text: #333333;

  --primaryBlue: #25a1b0;
  --primaryBlueHover: #8dcbd3;
  --secondaryBlue: #003853;
}

/* ------------ BODY -------------- */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: 0.5rem solid var(--primaryBlueHover);
  outline-offset: 0.3rem;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
  container-type: inline-size;
  scroll-padding: 10rem;
}

body {
  font-family: "Source Sans Pro Light", sans-serif;
  font-weight: 500;
  /* font-size: 1.6rem; */
  position: relative;
  /* background-color: var(--primaryBlue); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#root {
  width: 100%;
  /* min-height: 100dvh; comme ça au css du footer on ajoute un margin auto auto 0 et celui-ci restera en bas de la page */
  min-height: 100%; /*comme ça au css du footer on ajoute un margin auto auto 0 et celui-ci restera en bas de la page*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
footer,
main,
section,
article,
.cards,
.cards-aside {
  container-type: inline-size;
}

.open {
  height: auto;
  border: 0.1rem solid var(--grey1);
}

.none {
  display: none !important;
}

.visible {
  display: block !important;
}

a,
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:active,
a.active,
.active {
  color: var(--green2);
}

ul,
ol,
li {
  list-style: none;
}

img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
}

.overlayBlack {
  border-image: linear-gradient(
      hsl(from var(--black0) h s l / 0.3),
      hsl(from var(--black1) h s l / 0.3)
    )
    fill 1;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

button.disabled {
  background-color: var(--grey1);
  cursor: not-allowed;
  color: var(--white1);
}

.btn {
  display: block;
  border: 0;
  cursor: pointer;
  font-family: "Source Sans Pro Regular";
  width: 14.8rem;
  padding: 1.2rem 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 2.4rem;
  text-align: center;
  color: var(--black1);
  background-color: var(--primaryBlue);
  transition: all ease-in-out 200ms;
}

.btn:is(:hover, :focus-visible) {
  background-color: var(--primaryBlueHover);
  color: var(--black1);
  translate: 0 -0.575rem;
  box-shadow: 0rem 0.575rem 0.1rem var(--primaryBlue);
}

.btn:disabled {
  cursor: not-allowed;
}

.btn:disabled:hover {
  translate: none;
  box-shadow: none;
}

.btn.disabled {
  background-color: var(--grey1);
  cursor: not-allowed;
  color: var(--white1);
}

/* ----------- Text ----------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Novecento Bold", sans-serif;
  text-wrap: balance;
}

a,
p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch; /* longeur max de 65 caractères pour maximiser lisibilité du texte, convention en typo et ergonomie */
}

h1 {
  font-size: 3.2rem;
  /* font-size: clamp(3.2rem, 3cqi, 4rem); */
  /* font-size: clamp(3.2rem, 3vw, 4rem); */
}

h2 {
  font-size: 2.6rem;
  /* font-size: clamp(2.6rem, 3vw, 3.2rem); */
}

h3 {
  font-size: 2rem;
  /* font-size: clamp(2rem, 3vw, 2.4rem); */
}

h4,
label {
  font-size: 1.8rem;
  /* font-size: clamp(1.8rem, 3vw, 2rem); */
}

h5,
p,
a,
span,
button {
  font-size: 1.6rem;
  /* font-size: clamp(1.6rem, 2vw, 1.8rem); */
}

h6,
small {
  font-size: 1.4rem;
  /* font-size: clamp(1.4rem, 2vw, 1.6rem); */
}

.bold {
  font-weight: 700;
}

.card {
  display: grid;
  gap: 1rem;
}

/* Media queries for Tablet */
@media only screen and (min-width: 600px) {
  /* ------------- Font Size --------------- */
  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 2.9rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  h4,
  label {
    font-size: 1.9rem;
  }

  h5,
  p,
  a,
  span,
  button {
    font-size: 1.7rem;
  }

  h6,
  small {
    font-size: 1.5rem;
  }
}

/* Media queries for Desktop */
@media only screen and (min-width: 850px) {
  /* ------------- Font Size --------------- */
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4,
  label {
    font-size: 2rem;
  }

  h5,
  p,
  a,
  span,
  button {
    font-size: 1.8rem;
  }

  h6,
  small {
    font-size: 1.6rem;
  }
}

/* ************************* HEADER ************************* */
#Header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 1000;
  top: 0;
  animation: stickyNav linear forwards;
  justify-content: space-between;
  background-color: var(--white1);
  color: var(--black1);
  padding: 1rem 1.6rem;
}

.header__a__figure-img {
  width: 3.2rem;
}

.header__btn__figure__logo {
  width: 3.2rem;
  height: 3.2rem;
}

.header__nav {
  display: none;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 5rem;
  height: 10rem;
  width: 100%;
}
.header__nav__ul {
  justify-self: end;
  background-color: var(--secondaryBlue);
  box-shadow: 0 0 1rem var(--black0);
}
.header__nav__ul__li {
  padding: 1.2rem 2.4rem;
  border-bottom: 1px solid var(--white1);
  color: var(--white1);
}
.header__nav__ul__li__btn-link,
.header__nav__ul__li__a {
  color: var(--white1);
  padding: 1.2rem 0;
  font-family: "Novecento", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
}
.header__nav__ul__li__btn-link.active,
.header__nav__ul__li__a.active,
.header__nav__ul__li__btn-link:hover,
.header__nav__ul__li__a:hover {
  color: var(--primaryBlue) !important;
}

.header__nav__ul__li__a__icon {
  width: 3.2rem;
  height: 3.2rem;
  display: block;
}

.header__nav__ul__li__a:hover .header__nav__ul__li__a__icon {
  color: var(--primaryBlue) !important;
}

.header__nav__ul__li__btn {
  height: 3.2rem;
  transition: all ease-in-out 500ms;
}
.header__nav__ul__li__btn__img {
  height: 4.2rem;
}

.header__nav__ul__li__btn:hover {
  transform: scale(1.1);
}

.header__nav__ul__li:last-of-type {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  border-bottom: unset;
}

.visible {
  display: block;
}

.header__btn-burger {
  display: block;
  width: 3.2rem;
  height: 3.2rem;
}
.header__btn-burger__div-burger,
.header__btn-burger__div-burger::before,
.header__btn-burger__div-burger::after {
  content: "";
  display: block;
  background: var(--black1);
  height: 0.4rem;
  width: 3.2rem;
  border-radius: 3px;
  transition: transform ease-in-out 500ms, opacity linear 300ms;
}
.header__btn-burger__div-burger:hover {
  transform: scale(1.03);
}

.header__btn-burger__div-burger::before {
  transform: translateY(-1rem);
}

.header__btn-burger__div-burger::after {
  transform: translateY(0.6rem);
}

.header__btn-burger__div-burger.menu__open {
  transform: rotate(45deg);
}
.header__btn-burger__div-burger.menu__open:hover {
  transform: rotate(1.125turn);
}

.menu__open.header__btn-burger__div-burger::before {
  opacity: 0;
}

.menu__open.header__btn-burger__div-burger::after {
  transform: translateY(-0.45rem) rotate(-90deg);
}

.header__div-scroll {
  display: none;
}

@supports (-webkit-touch-callout: none) {
  .header__nav {
    height: -webkit-fill-available;
  }
}

@keyframes stickyNav {
  100% {
    box-shadow: 0 0 1rem hsl(from var(--black0) h s l / 0.8);
  }
}

/* Media queries for Tablet */
@media only screen and (min-width: 850px) {
  #Header {
    height: 10rem;
    padding: 1rem 3.2rem;
  }

  .header__a__figure-img {
    width: 8rem;
  }

  .header__btn__figure__logo {
    width: unset;
    height: unset;
  }
  

  .header__btn-burger {
    width: 4.8rem;
    height: 4.8rem;
  }
  .header__btn-burger__div-burger,
  .header__btn-burger__div-burger::before,
  .header__btn-burger__div-burger::after {
    height: 0.6rem;
    width: 4.8rem;
  }

  .header__btn-burger__div-burger::before {
    transform: translateY(-1.6rem);
  }

  .header__btn-burger__div-burger::after {
    transform: translateY(1rem);
  }

  .menu__open.header__btn-burger__div-burger::after {
    transform: translateY(-0.65rem) rotate(-90deg);
  }

  .header__nav {
    top: 10rem;
  }

  .header__nav__ul__li__btn-link,
  .header__nav__ul__li__a {
    font-size: 1.8rem;
  }

  .header__nav__ul__li__a__icon {
    width: 4.8rem;
    height: 4.8rem;
  }
}

/* Media queries for Desktop */
@media only screen and (min-width: 1120px) {
  #Header {
    padding: 1rem 6.4rem;
  }
  .header__btn-burger {
    display: none;
  }

  .header__nav {
    display: block;
    position: unset;
    margin-top: auto;
    height: unset;
    width: unset;
  }
  .header__nav__ul {
    justify-self: unset;
    box-shadow: unset;
    background-color: unset;
    display: flex;
    align-items: end;
    gap: 3.2rem;
  }
  .header__nav__ul__li {
    border-bottom: unset;
    padding: 0;
    color: var(--black1);
  }
  .header__nav__ul__li:nth-of-type(4) button {
    animation: changeColor linear forwards;
    animation-timeline: scroll();
    animation-range-start: 60rem;
    animation-range-end: 125rem;
  }

  .header__nav__ul__li:nth-of-type(3) button {
    animation: changeColor linear forwards;
    animation-timeline: scroll();
    animation-range-start: 135rem;
    animation-range-end: 240rem;
  }
  .header__nav__ul__li:nth-of-type(2) button {
    animation: changeColor linear forwards;
    animation-timeline: scroll();
    animation-range-start: 250rem;
    animation-range-end: 290rem;
  }
  .header__nav__ul__li:first-of-type button {
    animation: changeColor linear forwards;
    animation-timeline: scroll();
    animation-range-start: 320rem;
    animation-range-end: 410rem;
  }

  .header__nav__ul__li__btn-link,
  .header__nav__ul__li__a {
    padding: 0;
    font-size: 2rem;
    color: var(--black1);
  }

  .header__nav__ul__li__a__icon {
    animation: changeColor linear forwards;
    animation-timeline: scroll();
    animation-range-start: 35rem;
    animation-range-end: 55rem;
  }

  .header__div-scroll {
    display: unset;
    height: 10rem;
    background-color: var(--secondaryBlue);
    z-index: 9;
    position: absolute;
    width: calc(100% - 17.6rem);
    scale: 0 1;
    right: 0;
    margin-left: 17.6rem;
    transition: width 0.3s ease;
    transform-origin: right;
    animation: scroll-header linear;
    animation-timeline: scroll();
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 100px 0);
  }
}
@supports not (animation-timeline: scroll()) {
  .header__div-scroll {
    scale: 1 1;
  }
}

@media only screen and (min-width: 1440px) {
  .header__nav__ul__li:nth-of-type(4) button {
    animation-range-start: 50rem;
    animation-range-end: 85rem;
  }

  .header__nav__ul__li:nth-of-type(3) button {
    animation-range-start: 60rem;
    animation-range-end: 160rem;
  }
  .header__nav__ul__li:nth-of-type(2) button {
    animation-range-start: 150rem;
    animation-range-end: 200rem;
  }
  .header__nav__ul__li:first-of-type button {
    animation-range-start: 190rem;
    animation-range-end: 250rem;
  }

  .header__nav__ul__li__a__icon {
    animation-range-start: 20rem;
    animation-range-end: 40rem;
  }
}

@keyframes scroll-header {
  to {
    scale: 1 1;
  }
}

@keyframes changeColor {
  to {
    color: var(--white1);
  }
}

/* ************************* HOME ************************* */

#Home {
  width: 100%;
}

/* ************************* HERO ************************* */

#Hero {
  position: relative;
  width: 100%;
  height: 80dvh;
  /* height: 40rem; */
}
.hero__div-container {
  width: 100%;
  height: 40rem;
  height: 80dvh;
}
.hero__div-c__div-mask {
  width: 100%;
  height: 40rem;
  height: 80dvh;
  z-index: 10;
}
.hero__div-c__div-mask__div-img {
  width: 100%;
  height: 40rem;
  background-image: url(public/images/hero.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero__div-c__div-mask__div-img__div-text {
  color: var(--white1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  align-self: center;
  width: 90%;
  height: fit-content;
  position: absolute;
  top: clamp(5%, 15vw, 50%);
  left: 2.4rem;
}
.hero__div-c__div-mask__div-img__div-text__h2 {
  text-shadow: 1px 1px 0px var(--black1), -1px -1px 0px var(--black1),
    1px -1px 0px var(--black1), -1px 1px 0px var(--black1);
  max-width: unset;
}

.hero__div-c__div-mask__div-img__div-text__h1 {
  font-family: "Source Sans Pro Light Bold", sans-serif;
  font-size: clamp(3rem, 10vw, 7rem);
  max-width: unset;
  text-shadow: 3px 3px 0px var(--black1), -3px -3px 0px var(--black1),
    3px -3px 0px var(--black1), -3px 3px 0px var(--black1);
}

.hero__div-c__div-mask__div-img__div-text__div-h5-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero__div-c__div-mask__div-img__div-text__div__h5 {
  font-family: "Source Sans Pro Regular", sans-serif;
  text-transform: uppercase;
  max-width: unset;
  text-shadow: 1px 1px 0px var(--black1), -1px -1px 0px var(--black1),
    1px -1px 0px var(--black1), -1px 1px 0px var(--black1);
}

.hero__div-c__div-mask__div-img__div-text__div__h5:nth-last-of-type(2) {
  font-family: "Source Sans Pro Bold", sans-serif;
  text-transform: uppercase;
}

.btn {
  margin-top: 2rem;
}

.hero__div-c__div-mask__div-img.img {
  display: none;
}

/* Media queries for Tablet */
@media only screen and (min-width: 850px) {
  #Hero {
    height: 120rem;
    height: 100dvh;
  }

  .hero__div-c__div-mask__div-img__div-text {
    gap: 2.4rem;
    top: 50%;
    transform: translate(0, -50%);
  }

  .hero__div-c__div-mask__div-img__div-text__div-h5-container {
    gap: 2rem;
  }
}

/* Media queries for Desktop */
@media only screen and (min-width: 1120px) {
  #Hero {
    position: relative;
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero__div-container {
    height: 120rem;
    height: 160dvh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    backdrop-filter: blur(50px);
    width: 100%;
    position: absolute;
    animation: blur linear both;
    animation-timeline: scroll();
  }
  .hero__div-mask-border {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-image: url(public/images/RE.EVENTS.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    height: 40%;
    width: 100%;
    filter: drop-shadow(1px 1px 1px var(--white1))
      drop-shadow(-1px -1px 1px var(--white1))
      drop-shadow(1px -1px 1px var(--white1))
      drop-shadow(-1px 1px 1px var(--white1));
    /* animation: display linear both; */
    animation: scaleBD linear both;
    animation-timeline: scroll();
  }

  .hero__div-c__div-mask {
    display: flex;
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 90rem;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    mask-image: url(public/images/RE.EVENTS.svg);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: 40%;
    animation: scale linear both;
    animation-timeline: scroll();
  }

  .hero__div-c__div-mask__div-img {
    height: 120rem;
    height: 160dvh;
    width: 100%;
    background-image: url(public/images/hero.webp);
  }
  .hero__div-c__div-mask__div-img__div-text {
    color: var(--white1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;
    align-self: center;
    width: 60%;
    height: fit-content;
    position: absolute;
    top: 41%;
    left: 2.4rem;
    transform: translate(0, -50%);
  }
  .hero__div-c__div-mask__div-img__div-text__h2 {
    max-width: 65ch;
  }

  .hero__div-c__div-mask__div-img__div-text__h1 {
    font-size: 10rem;
    max-width: 65ch;
  }

  .hero__div-c__div-mask__div-img__div-text__div-h5-container {
    gap: 2.4rem;
  }
  .hero__div-c__div-mask__div-img__div-text__div__h5 {
    max-width: 65ch;
  }

  .hero__div-c__div-mask__div-img.img {
    display: block;
  }
}
@keyframes scale {
  to {
    mask-size: 150%;
    mask-image: unset;
  }
}

@keyframes blur {
  to {
    backdrop-filter: unset;
  }
}

@keyframes display {
  2% {
    background-image: none;
  }
}

@keyframes scaleBD {
  to {
    background-size: 150%;
    translate: -50% -3%;
    background-image: none;
  }
}

/* ************************* SOLUTIONS ************************* */

#Solutions {
  width: 100%;
  display: grid;
  background-image: url("public/images/bcg.webp");
  color: var(--secondaryBlue);
}

.Solutions__h2 {
  text-align: center;
  padding: 2.4rem;
  color: var(--black1);
}

.solutions-container {
  padding: 0 0 2.4rem;
  max-width: 95%;
  margin: 0 auto;
}
.solutions-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.solutions-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 4rem;
  position: relative;
  max-width: unset;
}

.solutions-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0.9rem;
  width: 2px;
  height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    var(--primaryBlue),
    var(--primaryBlue) 5px,
    transparent 5px,
    transparent 10px
  );
}

.solutions-list li:last-child {
  margin-bottom: 0;
}

.circle {
  width: 2rem;
  height: 2rem;
  border: 2px solid var(--secondaryBlue);
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 2rem;
  position: relative;
  margin-top: 0.4rem;
}

.solutions-list li:not(:last-child) .circle::after {
  content: "";
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: calc(100% - 2rem);
  background-color: var(--primaryBlue);
}

.solutions-list__li__div__h3 {
  margin: 0 0 1rem;
  text-transform: uppercase;
}

.solutions-list__li__div__p {
  line-height: 1.6;
}

/* Media queries for Tablet */
@media only screen and (min-width: 600px) {
  .Solutions__h2 {
    padding: 3.2rem;
  }
}

/* Media queries for Desktop */
@media only screen and (min-width: 850px) {
  #Solutions {
    padding: 0 0 6.4rem;
  }
  .Solutions__h2 {
    padding: 6.4rem;
  }
}

.Solutions2 {
  width: 100%;
  display: grid;
  overflow: hidden;
}

/* Media queries for Desktop */
@media only screen and (min-width: 1120px) {
  .solutions__div-cards-container {
    width: 100%;
    /* background-color: var(--white1); */
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 2rem;
    position: relative;
  }
  .solutions__div-cC__div-cards {
    overflow-y: auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, auto);
    gap: 4vw;
    z-index: 1;
    height: 73rem;
  }
  .solutions__div-cC__div-cards::-webkit-scrollbar {
    width: 2px;
  }

  .solutions__div-cC__div-cards::-webkit-scrollbar-track {
    background: transparent;
  }
  .solutions__div-cC__div-cards::-webkit-scrollbar-thumb {
    background: var(--primaryBlue);
    border-radius: 100vw;
  }

  .CardSolution2 {
    position: sticky;
    opacity: 0;
    top: 0;
  }
  .CardSolution2.card-0 {
    opacity: 1;
    z-index: 2;
  }

  .CardSolution2.card-1 {
    z-index: 3;
    animation: slideUp1 linear both;
    animation-timeline: scroll();
    animation-range-start: 0rem;
    animation-range-end: 10rem;
  }
  .CardSolution2.card-2 {
    z-index: 4;
    animation: slideUp2 linear both;
    animation-timeline: scroll();
    animation-range-start: 25rem;
    animation-range-end: 25rem;
  }
  .CardSolution2.card-3 {
    z-index: 5;
    animation: slideUp3 linear both;
    animation-timeline: scroll();
    animation-range-start: 50rem;
    animation-range-end: 60rem;
  }
  .CardSolution2.card-4 {
    z-index: 6;
    animation: slideUp4 linear both;
    animation-timeline: scroll();
    animation-range-start: 75rem;
    animation-range-end: 85rem;
  }
}

/* @media only screen and (min-width: 1000px) {
  .solutions__div-cC__div-cards {
    height: 70rem;
  }
} */

@media only screen and (min-width: 1120px) {
  .solutions__div-cC__div-cards {
    height: 65rem;
  }
}

@media only screen and (min-width: 1440px) {
  .solutions__div-cC__div-cards {
    height: 62rem;
  }
}

@keyframes slideUp1 {
  to {
    top: 7rem;
    opacity: 1;
  }
}
@keyframes slideUp2 {
  to {
    top: 14rem;
    opacity: 1;
  }
}
@keyframes slideUp3 {
  to {
    top: 21rem;
    opacity: 1;
  }
}
@keyframes slideUp4 {
  to {
    top: 26rem;
    opacity: 1;
  }
}

.CardSolution2 {
  display: flex;
  width: 100%;
  background-color: var(--secondaryBlue);
  color: var(--white1);
}

.CardSolution2.CardSolutionType2 {
  flex-direction: row-reverse;
  background-color: var(--white1);
  color: var(--secondaryBlue);
  border: 4px solid var(--primaryBlue);
}

.bullet {
  content: url(public/images/icons/SolutionsVectorRed.svg);
  margin-top: 0.2rem;
}

.CardSolution__div-text {
  padding: 3.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.CardSolution__div-text__h3 {
  text-transform: uppercase;
}
.CardSolution__div-text__h3.h3Type2 {
  align-self: flex-end;
}

.CardSolution__div-text__div {
  width: 100%;
  font-size: 1.6rem;
}
.CardSolution__div-text__div__div-analyze {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.CardSolution__div-text__div__p {
  max-width: unset;
  margin-bottom: 1rem;
}
.CardSolution__div-text__div__p__span {
  display: block;
  text-align: center;
  font-weight: bold;
  color: var(--primaryBlue);
  font-size: 2.6rem;
  margin: 1rem 0;
}

.CardSolution__div-text__div__div-analyze__ul,
.CardSolution__div-text__div__ul-P-M {
  display: grid;
  gap: 1.2rem;
}
.CardSolution__div-text__div__div-analyze__ul__li,
.CardSolution__div-text__div__ul-P-M__li {
  max-width: unset;
}
.CardSolution__div-text__div__div-analyze__ul__li:not(:first-of-type),
.CardSolution__div-text__div__ul-P-M__li:not(:first-of-type) {
  display: grid;
  grid-template-columns: 18px auto;
  gap: 0.8rem;
  place-items: flex-start;
  margin-left: 2.4rem;
  margin-top: 1.2rem;
}

/* Media queries for Tablet */
@media only screen and (min-width: 600px) {
  .CardSolution__div-text {
    gap: 2.4rem;
    min-width: 40%;
  }
  .CardSolution__div-text__div {
    font-size: 1.7rem;
  }

  .CardSolution__div-text__div__p {
    max-width: unset;
  }
  .CardSolution__div-text__div__p__span {
    font-size: 2.9rem;
  }

  .CardSolution__div-text__div__ul-P-M__li {
    max-width: unset;
  }
  .CardSolution__div-text__div__div-analyze__ul__li:not(:first-of-type),
  .CardSolution__div-text__div__ul-P-M__li:not(:first-of-type) {
    gap: 0.8rem;
    margin-left: 2.4rem;
    margin-top: 1.2rem;
  }
}

/* Media queries for Desktop */
@media only screen and (min-width: 850px) {
  .CardSolution2 {
    border-radius: 2rem;
  }
  .bullet {
    margin-top: 0.3rem;
  }

  .CardSolution__div-text {
    gap: 2.4rem;
  }
  .CardSolution__div-text__div {
    font-size: 1.8rem;
  }
  .CardSolution__div-text__div__p {
    max-width: unset;
  }
  .CardSolution__div-text__div__p__span {
    font-size: 3.2rem;
  }

  .CardSolution__div-text__div__div-analyze {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .CardSolution__div-text__div__div-analyze__ul.ul-monitor,
  .CardSolution__div-text__div__ul-P-M.ul-monitor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }

  .CardSolution__div-text__div__div-analyze__ul__li:first-of-type,
  .CardSolution__div-text__div__ul-P-M__li:first-of-type {
    grid-column: 1/ -1;
  }

  .CardSolution__div-text__div__div-analyze__ul__li:not(:first-of-type),
  .CardSolution__div-text__div__ul-P-M__li:not(:first-of-type) {
    margin-top: unset;
    gap: 0.8rem;
  }

  .CardSolution__div-text__div__ul-P-M__li {
    max-width: unset;
  }

  .CardSolution__div-text__div__div-analyze__ul__li {
    max-width: 65ch;
  }
}

picture {
  display: block;
  height: 10rem;
  width: 10rem;
}

/* ************************* ABOUT US ************************* */

.CardProfile {
  margin: auto;
  padding: 2.4rem;
  position: relative;
  display: grid;
  gap: 2.4rem;
  grid-template-rows: repeat(3, min-content);
  background-color: var(--primaryBlue);
  width: 34rem;
  height: 60.2rem;
  box-shadow: 0 0 1rem var(--secondaryBlue);
}

.CardProfile__a {
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  color: var(--white0);
  height: 4.8rem;
}

.CardProfile__a__icon {
  height: 4.8rem;
}

.CardProfile__a:hover {
  color: var(--secondaryBlue);
}

.CardProfile__figure {
  justify-self: center;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
}

.CardProfile__figure__img {
  border-radius: 50%;
}

.CardProfile__div-name {
  position: relative;
  height: 6.4rem;
}
.CardProfile__div-name__div-ribbon {
  position: absolute;
  top: 0;
  left: -2.8rem;
  width: 34.75rem;
  padding: 1.6rem 0;
  background-color: var(--secondaryBlue);
  color: var(--white1);
  text-align: center;
  box-shadow: 0 -0.2rem 1rem hsl(from var(--white0) h s l / 0.5),
    0 0.2rem 1rem hsl(from var(--white0) h s l / 0.5);
  z-index: 1;
  border-right: 1px solid var(--secondaryBlue);
  border-left: 1px solid var(--secondaryBlue);
}

.CardProfile__div-name__div-ribbon__h3 {
  font-family: "Novecento";
}

.CardProfile__div-name__div-ribbon::before,
.CardProfile__div-name__div-ribbon::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1rem;
  height: 130%;
  background-color: var(--secondaryBlue);
  border-radius: 0 1.2rem 1.2rem 0;
  z-index: -1;
}

.CardProfile__div-name__div-ribbon::before {
  left: -1rem;
  transform: scaleX(-1);
}

.CardProfile__div-name__div-ribbon::after {
  right: -1rem;
}

.CardProfile__div-infos {
  display: grid;
  gap: 2.4rem;
}
.CardProfile__div-infos__div-titles {
  display: grid;
  gap: 1.2rem;
}
.CardProfile__div-infos__div-titles__h6 {
  text-wrap: pretty;
  margin-bottom: 0.8rem;
}
.CardProfile__div-infos__div-titles__h6:nth-child(3) {
  height: 4rem;
}

.CardProfile__div-infos__p {
  text-align: justify;
  line-height: 2.4rem;
}

#AboutUs {
  --_space: 2.4rem;
  width: 100%;
}

.AboutUs__h2 {
  text-align: center;
  padding: 2.4rem;
  background-color: var(--white1);
  color: var(--black1);
}

.aboutUs__div-parallax {
  width: 100%;
  position: relative;
  height: 75rem;
}

.aboutUs__div-prlx__div-img {
  background-image: url("public/images/team1.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 75rem;
  width: 100%;
}

.aboutUs__div-prlx__div-text {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 2.4rem;
  color: var(--white1);
  z-index: 2;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) -0.5%,
    rgba(0, 0, 0, 0.4) 5%,
    rgba(0, 0, 0, 0.75) 100%
  );
}
.aboutUs__div-prlx__div-text__h3 {
  font-family: "Novecento";
  text-align: justify;
  filter: contrast(200%) drop-shadow(0 0 0.1rem var(--black0));
}

.aboutUs__div-listTeam {
  background-color: var(--white1);
  padding: 2.4rem 0;
  display: grid;
  grid-auto-flow: column;
  gap: calc(var(--_space) * 2);
  padding: var(--_space);
  grid-auto-columns: 34rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
.aboutUs__div-listTeam.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_space);
}
.aboutUs__div-listTeam.snaps-inline > * {
  scroll-snap-align: start;
}

.aboutUs__div-listTeam::-webkit-scrollbar {
  height: 8px;
}

.aboutUs__div-listTeam::-webkit-scrollbar-track {
  background: transparent;
}
.aboutUs__div-listTeam::-webkit-scrollbar-thumb {
  background: var(--primaryBlue);
  border-radius: 100vw;
}

@keyframes scrollCercle {
  0% {
    transform: translateX(0); /* Au début, tout est en place */
  }
  100% {
    transform: translateX(-100%); /* Défilement vers la gauche */
  }
}

/* Media queries for Tablet */
@media only screen and (min-width: 850px) {
  .AboutUs__h2 {
    padding: 3.2rem;
  }

  .aboutUs__div-prlx__div-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.4rem;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) -2%,
      rgba(0, 0, 0, 0.4) 5%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }
  .aboutUs__div-prlx__div-text__h3 {
    max-width: 65ch;
  }
}

/* Media queries for Desktop */
@media only screen and (min-width: 1120px) {
  .AboutUs__h2 {
    padding: 6.4rem;
  }

  .aboutUs__div-parallax {
    width: 100%;
    min-height: 75vh;
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-areas: "stack";
  }
  .aboutUs__div-parallax > * {
    grid-area: stack;
  }

  .aboutUs__div-prlx__div-img {
    display: block;
    /* background-image: url("/images/team1.webp"); */
    width: 100%;
  }

  .aboutUs__div-prlx__div-text {
    --parallax-speed: 20;
    position: unset;
    z-index: 4;
    padding: 3.2rem;
    color: var(--white1);
    align-items: end;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 70%,
      rgba(0, 0, 0, 0.7) 75%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }

  /* .aboutUs__div-listTeam {
      --_space: 3.2rem;
      gap: 7.5rem;
      place-content: center;
      grid-auto-columns: 34rem;
      overflow-x: unset;
      overscroll-behavior-inline: unset;
      padding: var(--_space) 0 4rem;
    } */
}

@media only screen and (min-width: 1170px) {
  .aboutUs__div-listTeam {
    --_space: 3.2rem;
    gap: 7.5rem;
    place-content: center;
    grid-auto-columns: 34rem;
    overflow-x: unset;
    overscroll-behavior-inline: unset;
    padding: var(--_space) 0 4rem;
  }
}

/* ************************* SUCCESS STORIES ************************* */
.CardStory {
  width: 34rem;
  height: 54rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem var(--black1);
}

.CardStory__div-infos {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2.4rem;
  background-color: var(--primaryBlue);
  color: var(--black1);
  width: 100%;
  height: 43.2rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.CardStory__div-infos__h4 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.span-height {
  height: 4.4rem;
}

.CardStory__div-infos__p-resume {
  text-align: left;
  overflow: auto;
  padding: 0 0.4rem;
  height: 23.133rem;
}
.CardStory__div-infos__p-resume::-webkit-scrollbar {
  width: 4px;
}
.CardStory__div-infos__p-resume::-webkit-scrollbar-track {
  background: transparent;
}
.CardStory__div-infos__p-resume::-webkit-scrollbar-thumb {
  background: var(--secondaryBlue);
  border-radius: 100vw;
}

.CardStory__div-infos__p-link__a {
  text-decoration: underline;
  transition: all ease-in-out 0.3s;
}

.CardStory__div-infos__p-link__a:hover {
  color: var(--white1);
}

.CardStory__div-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondaryBlue);
  height: 10.8rem;
  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
}
.CardStory__div-logo__img {
  object-fit: contain;
}

/* Media queries for Desktop */
@media only screen and (min-width: 850px) {
  .CardStory__div-infos {
    gap: 2.4rem;
    padding: 3.2rem;
  }
}

#SuccessStories {
  --_space: 2.4rem;
  background-image: url("/images/bcg.webp");
  width: 100%;
}

.SuccessStories__div-titles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  padding: var(--_space) 0 0;
  width: 100%;
}
.SuccessStories__div-titles__h3 {
  text-align: center;
  font-family: "Novecento";
}

.SuccessStories__div-cards {
  display: grid;
  grid-auto-flow: column;
  gap: calc(var(--_space) * 2);
  padding: var(--_space);
  grid-auto-columns: 34rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}
.SuccessStories__div-cards.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_space);
}

.SuccessStories__div-cards.snaps-inline > * {
  scroll-snap-align: start;
}

.SuccessStories__div-cards::-webkit-scrollbar {
  height: 8px;
}

.SuccessStories__div-cards::-webkit-scrollbar-track {
  background: transparent;
}
.SuccessStories__div-cards::-webkit-scrollbar-thumb {
  background: var(--primaryBlue);
  border-radius: 100vw;
}

.SuccessStories__div-cards__btn {
  display: none;
}

/* Media queries for Tablet */
@media only screen and (min-width: 600px) {
  #SuccessStories {
    --_space: 4.8rem;
  }
  .SuccessStories__div-titles {
    gap: 2.4rem;
  }
}

/* Media queries for Desktop */
@media only screen and (min-width: 850px) {
  #SuccessStories {
    --_space: 3.2rem;
  }
  .SuccessStories__div-titles {
    gap: var(--_space);
    padding: 6.4rem 0 var(--_space);
  }
  /* 
    .SuccessStories__div-cards {
      gap: 7.5rem;
      place-content: center;
      grid-auto-columns: 34rem;
      overflow-x: unset;
      overscroll-behavior-inline: unset;
      padding: 0 0 4rem;
    } */
}

@media only screen and (min-width: 1170px) {
  .SuccessStories__div-cards {
    gap: 7.5rem;
    place-content: center;
    grid-auto-columns: 34rem;
    overflow-x: unset;
    overscroll-behavior-inline: unset;
    padding: 0 0 4rem;
  }
}
/* ************************* CONTACT ************************* */




/* ************************* FOOTER ************************* */

#Footer {
  width: 100%;
  background-color: var(--secondaryBlue);
  color: var(--white1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto auto 0;
}

.footer__div-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--black0);
  padding-right: 1rem;
}
.footer__div__div-links {
  z-index: 2;
  display: grid;
  gap: 1.2rem;
  place-items: center;
}
.footer__div__div__a {
  text-align: center;
}
.footer__div__div__a:hover {
  color: var(--primaryBlue);
}

.footer__div__figure-img {
  width: 10rem;
}
.footer__div__figure__logo {
  content: url(public/images/icons/logoF-B.webp);
}

.footer__div__a {
  z-index: 2;
  width: 12rem;
  height: 12rem;
  display: grid;
  place-items: center;
}
.footer__div__a__icon {
  display: block;
  width: 6rem;
  height: 6rem;
}

.footer__div__a:hover .footer__div__a__icon {
  color: var(--primaryBlue);
}

.footer__div__div-banner {
  display: none;
  background-color: var(--secondaryBlue);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 21.6rem);
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, calc(100% - 142.64px) 100%, 0 100%);
}

.footer__p {
  max-width: unset;
  width: 100%;
  padding: 1.2rem 0;
  text-align: center;
  background-color: var(--black1);
  color: var(--white1);
}

/* media queries pour Tablette */
@media only screen and (min-width: 600px) {
  .footer__div-container {
    padding: 0 3.2rem;
  }
  .footer__div__figure-img {
    width: 12rem;
  }
}

/* Media queries for Desktop */
@media only screen and (min-width: 850px) {
  #Footer {
    background-color: var(--white1);
    color: var(--white1);
  }
  .footer__div-container {
    padding: 0 6.4rem;
  }
  .footer__div__figure__logo {
    content: url("/images/icons/logoF-N.webp");
  }

  .footer__div__div-banner {
    display: unset;
  }
}
