/*---------------------------------------------------------------------------------
RESET
---------------------------------------------------------------------------------*/

@font-face {
  font-family: "Novecento";
  src: url("./public/fonts/NovecentoNormal.ttf") format("truetype"),
    url("./public/fonts/NovecentoNormal.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Novecento Bold";
  src: url("./public/fonts/NovecentoBold.ttf") format("truetype"),
    url("./public/fonts/NovecentoBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro Light";
  src: url("./public/fonts/SourceSansPro-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro Light Italic";
  src: url("./public/fonts/SourceSansPro-LightIt.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro Regular";
  src: url("./public/fonts/SourceSansPro-Regular.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro Bold";
  src: url("./public/fonts/SourceSansPro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro Bold Italic";
  src: url("./public/fonts/SourceSansPro-BoldIt.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

/* ----------- Colors ----------- */
:root {
  --white0: #ffffff;
  --white1: #faf9f6;
  --black0: #000000;
  --black1: #121212;
  --black2: #1a1a1a;
  --grey0: #333333;
  --grey1: #636363;
  --grey2: #a6a6a6;
  --green0: #00ff00;
  --green1: #00b963;
  --red0: rgb(255, 0, 0);
  --red1: #ee1400;

  --greyJensone: #f8fafc;

  --warning: #ffae00e3;

  --body: #faf9f6;
  --text: #333333;

  --primaryBlue: #25a1b0;
  --primaryBlueHover: #8dcbd3;
  --secondaryBlue: #003853;
}

/* ------------ BODY -------------- */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: 0.5rem solid var(--primaryBlueHover);
  outline-offset: 0.3rem;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
  height: 100%;
  container-type: inline-size;
  scroll-padding: 10rem;
}

body {
  font-family: "Source Sans Pro Light", sans-serif;
  font-weight: 500;
  /* font-size: 1.6rem; */
  position: relative;
  /* background-color: var(--white1); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#root {
  width: 100%;
  /* min-height: 100dvh; comme ça au css du footer on ajoute un margin auto auto 0 et celui-ci restera en bas de la page */
  min-height: 100%; /*comme ça au css du footer on ajoute un margin auto auto 0 et celui-ci restera en bas de la page*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

@supports (-webkit-touch-callout: none) {
  #root {
    height: -webkit-fill-available;
  }
}

header,
footer,
main,
section,
article,
.cards,
.cards-aside {
  container-type: inline-size;
}

.open {
  height: auto;
  border: 0.1rem solid var(--grey1);
}

.none {
  display: none !important;
}

.visible {
  display: block !important;
}

a,
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:active,
a.active,
.active {
  color: var(--green2);
}

ul,
ol,
li {
  list-style: none;
}

img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
}

.overlayBlack {
  border-image: linear-gradient(
      hsl(from var(--black0) h s l / 0.3),
      hsl(from var(--black1) h s l / 0.3)
    )
    fill 1;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;

  /* &:hover {
    color: var(--black1);
    background-color: var(--primaryBlueHover);
    box-shadow: 0 0.325rem 0 var(--primaryBlue);
      transform: translateY(-0.325rem);
    } */

  &:disabled {
    cursor: not-allowed;
  }

  &.disabled {
    background-color: var(--grey1);
    cursor: not-allowed;
    color: var(--white1);
  }
}

.btn {
  display: block;
  /* background: transparent; */
  border: 0;
  cursor: pointer;
  font-family: "Source Sans Pro Regular";
  /* height: 4.4rem; */
  width: 14.8rem;
  padding: 1.2rem 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 2.4rem;
  text-align: center;
  /* box-shadow: 0 0 1rem var(--primaryBlueHover); */

  color: var(--black1);
  background-color: var(--primaryBlue);
  transition: all ease-in-out 200ms;

  &:is(:hover, :focus-visible) {
    background-color: var(--primaryBlueHover);
    color: var(--black1);
    translate: 0 -0.575rem;
    box-shadow: 0rem 0.575rem 0.1rem var(--primaryBlue);
  }

  /* &:hover {
    color: var(--black1);
    background-color: var(--primaryBlueHover);
    box-shadow: 0 0.325rem 0 var(--primaryBlue);
      transform: translateY(-0.325rem);
    } */

  &:disabled {
    cursor: not-allowed;

    &:hover {
      translate: none;
      box-shadow: none;
    }
  }

  &.disabled {
    background-color: var(--grey1);
    cursor: not-allowed;
    color: var(--white1);
  }
}
/* ----------- Text ----------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Novecento Bold", sans-serif;
  text-wrap: balance;
}

a,
p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch; /* longeur max de 65 caractères pour maximiser lisibilité du texte, convention en typo et ergonomie */
}

h1 {
  font-size: 3.2rem;
  /* font-size: clamp(3.2rem, 3cqi, 4rem); */
  font-size: clamp(3.2rem, 3vw, 4rem);
}

h2 {
  font-size: 2.6rem;
  font-size: clamp(2.6rem, 3vw, 3.2rem);
}

h3 {
  font-size: 2rem;
  font-size: clamp(2rem, 3vw, 2.4rem);
}

h4,
label {
  font-size: 1.8rem;
  font-size: clamp(1.8rem, 3vw, 2rem);
}

h5,
p,
a,
span,
button {
  font-size: 1.6rem;
  font-size: clamp(1.6rem, 2vw, 1.8rem);
}

h6,
small {
  font-size: 1.4rem;
  font-size: clamp(1.4rem, 2vw, 1.6rem);
}

.bold {
  font-weight: 700;
}

.card {
  display: grid;
  gap: 1rem;
}

/* Media queries for Tablet */
@media only screen and /* (850px <= width < 1440px) */ (min-width: 600px) {
  /* ------------- Font Size --------------- */
  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 2.9rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  h4,
  label {
    font-size: 1.9rem;
  }

  h5,
  p,
  a,
  span,
  button {
    font-size: 1.7rem;
  }

  h6,
  small {
    font-size: 1.5rem;
  }
}

/* Media queries for Desktop */
@media only screen and /* (1440px <= width) */ (min-width: 850px) {
  /* ------------- Font Size --------------- */
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  h4,
  label {
    font-size: 2rem;
  }

  h5,
  p,
  a,
  span,
  button {
    font-size: 1.8rem;
  }

  h6,
  small {
    font-size: 1.6rem;
  }
}

/* ************************* HEADER ************************* */
#Header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 1000;
  top: 0;
  animation: stickyNav linear forwards;
  justify-content: space-between;
  background-color: var(--white1);
  color: var(--black1);
  padding: 1rem 1.6rem;

  .header__btn__figure-img {
    width: 3.2rem;
  }

  .header__nav {
    display: none;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 5rem;
    height: 10rem;
    width: 100%;
    .header__nav__ul {
      justify-self: end;
      background-color: var(--secondaryBlue);
      box-shadow: 0 0 1rem var(--black0);
      .header__nav__ul__li {
        padding: 1.2rem 2.4rem;
        border-bottom: 1px solid var(--white1);
        color: var(--white1);
        .header__nav__ul__li__btn-link,
        .header__nav__ul__li__a {
          color: var(--white1);
          padding: 1.2rem 0;
          font-family: "Novecento", sans-serif;
          font-weight: bold;
          font-size: 1.6rem;

          &.active,
          &:hover {
            color: var(--primaryBlue) !important;
          }

          .header__nav__ul__li__a__icon {
            width: 3.2rem;
            height: 3.2rem;
            display: block;
          }

          &:hover .header__nav__ul__li__a__icon {
            color: var(--primaryBlue) !important;
          }
        }

        .header__nav__ul__li__btn {
          height: 3.2rem;
          transition: all ease-in-out 500ms;
          .header__nav__ul__li__btn__img {
            height: 4.2rem;
          }

          &:hover {
            transform: scale(1.1);
          }
        }

        &:last-of-type {
          display: flex;
          align-items: center;
          gap: 3.2rem;
          border-bottom: unset;
        }
      }
    }

    &.visible {
      display: block;
    }
  }

  .header__btn-burger {
    display: block;
    width: 3.2rem;
    height: 3.2rem;

    .header__btn-burger__div-burger,
    .header__btn-burger__div-burger::before,
    .header__btn-burger__div-burger::after {
      content: "";
      display: block;
      background: var(--black1);
      height: 0.4rem;
      width: 3.2rem;
      border-radius: 3px;
      transition: transform ease-in-out 500ms, opacity linear 300ms;
    }
    .header__btn-burger__div-burger:hover {
      transform: scale(1.03);
    }

    .header__btn-burger__div-burger::before {
      transform: translateY(-1rem);
    }

    .header__btn-burger__div-burger::after {
      transform: translateY(0.6rem);
    }

    .header__btn-burger__div-burger.menu__open {
      transform: rotate(45deg);

      &:hover {
        transform: rotate(1.125turn);
      }
    }

    .menu__open.header__btn-burger__div-burger::before {
      opacity: 0;
    }

    .menu__open.header__btn-burger__div-burger::after {
      transform: translateY(-0.45rem) rotate(-90deg);
    }
  }

  .header__div-scroll {
    display: none;
  }
}

@supports (-webkit-touch-callout: none) {
  .header__nav {
    height: -webkit-fill-available;
  }
}

@keyframes stickyNav {
  100% {
    box-shadow: 0 0 1rem hsl(from var(--black0) h s l / 0.8);
  }
}

/* Media queries for Tablet */
@media only screen and /* (850px <= width < 1440px) */ (min-width: 600px) {
  #Header {
    height: 10rem;
    padding: 1rem 3.2rem;

    .header__btn__figure-img {
      width: 8rem;
    }

    .header__btn-burger {
      width: 4.8rem;
      height: 4.8rem;

      .header__btn-burger__div-burger,
      .header__btn-burger__div-burger::before,
      .header__btn-burger__div-burger::after {
        height: 0.6rem;
        width: 4.8rem;
      }

      .header__btn-burger__div-burger::before {
        transform: translateY(-1.6rem);
      }

      .header__btn-burger__div-burger::after {
        transform: translateY(1rem);
      }

      .menu__open.header__btn-burger__div-burger::after {
        transform: translateY(-0.65rem) rotate(-90deg);
      }
    }

    .header__nav {
      top: 10rem;

      .header__nav__ul {
        .header__nav__ul__li {
          .header__nav__ul__li__btn-link,
          .header__nav__ul__li__a {
            font-size: 1.8rem;
          }

          .header__nav__ul__li__a {
            .header__nav__ul__li__a__icon {
              width: 4.8rem;
              height: 4.8rem;
            }
          }
        }
      }
    }
  }
}

/* Media queries for Desktop */
@media only screen and /* (1440px <= width) */ (min-width: 850px) {
  #Header {
    padding: 1rem 6.4rem;

    .header__btn-burger {
      display: none;
    }

    .header__nav {
      display: block;
      position: unset;
      margin-top: auto;
      height: unset;
      width: unset;
      .header__nav__ul {
        justify-self: unset;
        box-shadow: unset;
        background-color: unset;
        display: flex;
        align-items: end;
        gap: 3.2rem;
        .header__nav__ul__li {
          border-bottom: unset;
          padding: 0;
          color: var(--black1);

          &:nth-of-type(4) button {
            animation: changeColor linear forwards;
            animation-timeline: scroll();
            animation-range-start: 60rem;
            animation-range-end: 125rem;
          }

          &:nth-of-type(3) button {
            animation: changeColor linear forwards;
            animation-timeline: scroll();
            animation-range-start: 135rem;
            animation-range-end: 240rem;
          }
          &:nth-of-type(2) button {
            animation: changeColor linear forwards;
            animation-timeline: scroll();
            animation-range-start: 250rem;
            animation-range-end: 290rem;
          }
          &:first-of-type button {
            animation: changeColor linear forwards;
            animation-timeline: scroll();
            animation-range-start: 320rem;
            animation-range-end: 410rem;
          }

          .header__nav__ul__li__btn-link,
          .header__nav__ul__li__a {
            padding: 0;
            font-size: 2rem;
            color: var(--black1);
          }

          .header__nav__ul__li__a {
            .header__nav__ul__li__a__icon {
              animation: changeColor linear forwards;
              animation-timeline: scroll();
              animation-range-start: 35rem;
              animation-range-end: 55rem;
            }
          }
        }
      }
    }
    .header__div-scroll {
      display: unset;
      height: 100%;
      background-color: var(--secondaryBlue);
      z-index: 9;
      position: absolute;
      width: calc(100% - 17.6rem);
      scale: 0 1;
      right: 0;
      margin-left: 17.6rem;
      transition: width 0.3s ease;
      transform-origin: right;
      animation: scroll-header linear;
      animation-timeline: scroll();
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 100px 0);
    }

    @supports not (animation-timeline: scroll()) {
      .header__div-scroll {
        scale: 1 1;
      }
    }
  }
}

@media only screen and /* (1440px <= width) */ (min-width: 1440px) {
  #Header {
    .header__nav {
      .header__nav__ul {
        .header__nav__ul__li {
          &:nth-of-type(4) button {
            animation-range-start: 50rem;
            animation-range-end: 85rem;
          }

          &:nth-of-type(3) button {
            animation-range-start: 60rem;
            animation-range-end: 160rem;
          }
          &:nth-of-type(2) button {
            animation-range-start: 150rem;
            animation-range-end: 200rem;
          }
          &:first-of-type button {
            animation-range-start: 190rem;
            animation-range-end: 250rem;
          }

          .header__nav__ul__li__a {
            .header__nav__ul__li__a__icon {
              animation-range-start: 20rem;
              animation-range-end: 40rem;
            }
          }
        }
      }
    }
  }
}

@keyframes scroll-header {
  to {
    scale: 1 1;
  }
}

@keyframes changeColor {
  to {
    color: var(--white1);
  }
}

/* ************************* HOME ************************* */

#Home {
  width: 100%;
}

/* ************************* HERO ************************* */



/* ************************* SOLUTIONS ************************* */


/* ************************* ABOUT US ************************* */


/* ************************* SUCCESS STORIES ************************* */


/* ************************* CONTACT ************************* */


/* ************************* FOOTER ************************* */
