#Hero {
  position: relative;
  width: 100%;
  height: 80dvh;
  /* height: 40rem; */

  .hero__div-container {
    width: 100%;
    height: 100%;

    .hero__div-c__div-mask {
      width: 100%;
      height: 100%;
      z-index: 10;
      .hero__div-c__div-mask__div-img {
        width: 100%;
        height: 100%;
        background-image: url("./public/images/hero.webp");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
    }

    .hero__div-c__div-mask__div-img__div-text {
      color: var(--white1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.2rem;
      align-self: center;
      width: 90%;
      height: fit-content;
      position: absolute;
      top: clamp(5%, 15vw, 50%);
      left: 2.4rem;

      .hero__div-c__div-mask__div-img__div-text__h2 {
        text-shadow: 1px 1px 0px var(--black1), -1px -1px 0px var(--black1),
          1px -1px 0px var(--black1), -1px 1px 0px var(--black1);
        max-width: unset;
      }

      .hero__div-c__div-mask__div-img__div-text__h1 {
        font-family: "Source Sans Pro Light Bold", sans-serif;
        font-size: clamp(3rem, 10vw, 7rem);
        max-width: unset;
        text-shadow: 3px 3px 0px var(--black1), -3px -3px 0px var(--black1),
          3px -3px 0px var(--black1), -3px 3px 0px var(--black1);
      }

      .hero__div-c__div-mask__div-img__div-text__div-h5-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .hero__div-c__div-mask__div-img__div-text__div__h5 {
          font-family: "Source Sans Pro Regular", sans-serif;
          text-transform: uppercase;
          max-width: unset;
          text-shadow: 1px 1px 0px var(--black1), -1px -1px 0px var(--black1),
            1px -1px 0px var(--black1), -1px 1px 0px var(--black1);

          &:nth-last-of-type(2) {
            font-family: "Source Sans Pro Bold", sans-serif;
            text-transform: uppercase;
          }
        }
      }

      .btn {
        margin-top: 2rem;
      }
    }
  }

  .hero__div-c__div-mask__div-img.img {
    display: none;
  }
}

/* Media queries for Tablet */
@media only screen and /* (850px <= width < 1440px) */ (min-width: 600px) {
  #Hero {
    height: 100dvh;

    .hero__div-container {
      .hero__div-c__div-mask__div-img__div-text {
        gap: 2.4rem;
        top: 50%;
        transform: translate(0, -50%);

        .hero__div-c__div-mask__div-img__div-text__div-h5-container {
          gap: 2rem;
        }
      }
    }
  }
}

/* Media queries for Desktop */
@media only screen and /* (1440px <= width) */ (min-width: 850px) {
  #Hero {
    position: relative;
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero__div-container {
      height: 160dvh;
      /* height: 120rem; */
      /* background-color: rgb(0, 0, 0); */
      background-color: rgba(0, 0, 0, 0.5);
      /* opacity: 0.9; */
      z-index: 10;
      backdrop-filter: blur(50px);
      width: 100%;
      position: absolute;
      animation: blur linear both;
      animation-timeline: scroll();

      .hero__div-mask-border {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        background-image: url("./public/images/RE.EVENTS.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 40%;
        height: 40%;
        width: 100%;
        filter: drop-shadow(1px 1px 1px var(--white1))
          drop-shadow(-1px -1px 1px var(--white1))
          drop-shadow(1px -1px 1px var(--white1))
          drop-shadow(-1px 1px 1px var(--white1));
        /* animation: display linear both; */
        animation: scaleBD linear both;
        animation-timeline: scroll();
      }

      .hero__div-c__div-mask {
        display: flex;
        overflow: hidden;
        position: sticky;
        top: 0;
        height: 100dvh;
        /* height: 90rem; */
        align-items: center;
        justify-content: center;
        mask-image: url("./public/images/RE.EVENTS.svg");
        mask-position: center center;
        mask-repeat: no-repeat;
        mask-size: 40%;
        animation: scale linear both;
        animation-timeline: scroll();
      }
    }
    .hero__div-c__div-mask__div-img {
      height: 100%;
      width: 100%;
      background-image: url("./public/images/hero.webp");
      .hero__div-c__div-mask__div-img__div-text {
        color: var(--white1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2.4rem;
        align-self: center;
        width: 60%;
        height: fit-content;
        position: absolute;
        top: 41%;
        left: 2.4rem;
        transform: translate(0, -50%);

        .hero__div-c__div-mask__div-img__div-text__h2 {
          max-width: 65ch;
        }

        .hero__div-c__div-mask__div-img__div-text__h1 {
          font-size: 10rem;
          max-width: 65ch;
        }

        .hero__div-c__div-mask__div-img__div-text__div-h5-container {
          gap: 2.4rem;
          .hero__div-c__div-mask__div-img__div-text__div__h5 {
            max-width: 65ch;
          }
        }
      }
    }
    .hero__div-c__div-mask__div-img.img {
      display: block;
    }
  }
}
@keyframes scale {
  to {
    mask-size: 150%;
    mask-image: unset;
  }
}

@keyframes blur {
  to {
    backdrop-filter: unset;
  }
}

@keyframes display {
  2% {
    background-image: none;
  }
}

@keyframes scaleBD {
  to {
    background-size: 150%;
    translate: -50% -3%;
    background-image: none;
  }
}

@supports (-webkit-touch-callout: none) {
  #Hero,
  .hero__div-container,
  .hero__div-c__div-mask {
    height: -webkit-fill-available;
  }
}